.loading-spinner {
	background-color: rgba(46, 38, 38, 1);
	width: 100%;
	height: 100%;
}

.loader {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.loading-spinner img {
	width: 100px;
}

.loading-spinner h1 {
	margin-top: 20px;
	font-size: 20px;
	color: white;
}
