.location-info {
	position: absolute;
	top: 20px;
	left: 400px;
	background-color: rgba(46, 38, 38, 1);
	color: white;
	width: 300px;
	border-radius: 10px;
	min-height: 150px;
	padding: 20px;
	text-align: center;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.location-info-open {
	position: absolute;
	top: 20px;
	left: 300px;
	background-color: rgba(46, 38, 38, 1);
	color: white;
	width: 300px;
	border-radius: 10px;
	min-height: 150px;
	padding: 20px;
	text-align: center;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.location-info span {
	font-size: 13px;
}

.location-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around !important;
	width: 200px;
	margin: 10px;
}

.location-header {
	margin-right: 10px;
}

.location-info ul {
	list-style-type: none;
	padding: 0;
	font-size: 15px;
}

.location-info ul li img {
	margin-right: 10px;
}

.location-info li {
	list-style: none;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-icon {
	height: 17px;
	width: 17px;
}

@media screen and (max-width: 788px) {
	.location-info {
		top: 20px;
		left: 230px;
	}
}

@media screen and (max-width: 581px) {
	.location-info {
		top: 20px;
		left: 280px;
		width: 200px;
	}
}

@media screen and (max-width: 525px) {
	.location-info {
		top: 20px;
		left: 210px;
		width: 200px;
	}
}

@media screen and (max-width: 375px) {
	.location-info {
		top: 20px;
		left: 190px;
		width: 100px;
	}
	.location-info ul {
		list-style-type: none;
		padding: 0;
		font-size: 10px;
	}
}
